@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../vendor/fonts/Inter-Regular.woff2?v=3.19) format("woff2"),
        url(../../vendor/fonts/Inter-Regular.woff?v=3.19) format("woff");
  }

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url(../../vendor/fonts/Inter-Black.woff2?v=3.19) format("woff2"),
  url(../../fonts/vendor/Inter-Black.woff?v=3.19) format("woff");
}

.page {
  min-width: 320px;
  padding-top: 28px;
  padding-bottom: 24px;
  background-color: #2a2c2f;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 767px) {
  .page {
    padding-top: 16px;
  }
}
