.cover__subtitle {
  margin: 32px auto 0;
  max-width: 360px;
  min-height: 66px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin-top: 16px;
    max-width: 288px;
    min-height: 48px;
    font-size: 14px;
    line-height: 16px;
  }
}
