.card__url {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .card__url  {
    width: calc(100% - 32px);
    margin: auto;
  }
}
