.lead__title {
  margin: 0 auto;
  max-width: 720px;
  min-height: 200px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 280px;
    min-height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}
