.footer__links {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(5, min-content);
  column-gap: 18px;
}

@media screen and (max-width: 767px) {
  .footer__links {
    grid-template-columns: 100%;
    row-gap: 32px;
  }
}
