.intro {
  width: calc(100% - 334px);
  margin-left: 48px;
}

@media screen and (min-width: 1280px) {
  .intro {
    width: calc(100% - 590px);
    margin-left: 148px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    width: calc(100% - 48px);
    margin-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    width: calc(100% - 32px);
    margin-left: 16px;
  }
}
