.intro {
  width: calc(100% - 334px);
}

@media screen and (min-width: 1280px) {
  .intro {
    width: calc(100% - 590px);
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .intro {
    width: calc(100% - 32px);
  }
}
