.cover__text {
  position: absolute;
  top: calc((100% - 250px)/2);
  left: calc((100% - 560px)/2);
}

@media screen and (max-width: 768px) {
  .cover__text {
    top: calc((100% - 134px)/2);
    left: calc((100% - 288px)/2);
  }
}
