.places__url-link {
  margin-top: 12px;
  color: #fff;
  max-width: 456px;
  min-height: 22px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.places__url-link:hover {
  opacity: 0.8;
}
